In [2]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re

In [13]:
driver=webdriver.Chrome()
driver.maximize_window()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.implicitly_wait(10)
time.sleep(5)

In [14]:
Rank=[]
Name=[]
Artist=[]
Upload=[]
Views=[]

In [15]:
Youtube=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')
for i in Youtube[0:180:6]:
    Rank.append(i.text)

Youtube=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')
for i in Youtube[1:180:6]:
    Name.append(i.text)  

Youtube=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')
for i in Youtube[2:180:6]:
    Artist.append(i.text)
                             
Youtube=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')
for i in Youtube[3:180:6]:
    Upload.append(i.text)

Youtube=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')
for i in Youtube[4:180:6]:
    Views.append(i.text)
                             
data={'Rank':Rank,'Name':Name,'Artist':Artist,'Views':Upload,'Upload Date':Views}

In [16]:
df=pd.DataFrame(data)

df

,Rank,Name,Artist,Views,Upload Date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs,13.18,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.23,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,6.76,"October 8, 2016"
3,4.,"""Bath Song""[17]",Cocomelon - nursery rhymes,6.33,"May 2, 2018"
4,5.,"""Shape of You""[18]",Ed Sheeran,6.05,"January 30, 2017"
5,6.,"""See You Again""[21]",Wiz Khalifa,5.98,"April 6, 2015"
6,7.,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes,5.46,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs,5.42,"March 6, 2014"
8,9.,"""Uptown Funk""[28]",Mark Ronson,5.00,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,4.94,"February 27, 2018"
10,11.,"""Gangnam Style""[30]",Psy,4.86,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies - children's songs,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[36]",El Chombo,4.41,"April 5, 2018"
13,14.,"""Axel F""[37]",Crazy Frog,4.00,"June 16, 2009"
14,15.,"""Sugar""[38]",Maroon 5,3.91,"January 14, 2015"
15,16.,"""Roar""[39]",Katy Perry,3.84,"September 5, 2013"
16,17.,"""Counting Stars""[40]",OneRepublic,3.84,"May 31, 2013"
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes,3.73,"June 25, 2018"
18,19.,"""Sorry""[42]",Justin Bieber,3.69,"October 22, 2015"
19,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.68,"June 4, 2010"
20,21.,"""Thinking Out Loud""[44]",Ed Sheeran,3.63,"October 7, 2014"
21,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.63,"June 14, 2018"
22,23.,"""Dark Horse""[46]",Katy Perry,3.56,"February 20, 2014"
23,24.,"""Perfect""[47]",Ed Sheeran,3.51,"November 9, 2017"
24,25.,"""Faded""[48]",Alan Walker,3.49,"December 3, 2015"
25,26.,"""Let Her Go""[49]",Passenger,3.48,"July 25, 2012"
26,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,3.51,"January 26, 2018"
27,28.,"""Girls Like You""[51]",Maroon 5,3.45,"May 31, 2018"
28,29.,"""Bailando""[52]",Enrique Iglesias,3.43,"April 11, 2014"
29,30.,"""Lean On""[53]",Major Lazer,3.43,"March 22, 2015"

Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details: 
A) Match title (I.e. 1 ODI) 
B) Series 
C) Place 
D) Date 
E) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [17]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [20]:
search=driver.find_element(By.XPATH,'//a[@class="nav-link "]')
search.click()
driver.implicitly_wait(5)

In [21]:
ODI=driver.find_element(By.XPATH,'//div[@class="customSelecBox matchFormatDropDown openSBox"]')
ODI.click()
ODI_I=driver.find_element(By.XPATH,'//div[@class="cSBListItems ng-scope"][2]')
ODI_I.click()

In [22]:
NAME=[]
name_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')

for i in name_tag:
    ntitle=i.text
    NAME.append(ntitle)
    
NAME

['ASIA CUP 2023',
 'ASIA CUP 2023',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'ICC MENS WORLD CUP 2023',
 'ICC MENS WORLD CUP 2023',
 'ICC MENS WORLD CUP 2023']

In [23]:
PLACE=[]
place_tag=driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"]')

for i in place_tag:
    ptitle=i.text.split("-")[1]
    PLACE.append(ptitle)

PLACE

[' Pallekele International Cricket Stadium, Pallekele\nMatch Centre',
 ' Pallekele International Cricket Stadium, Pallekele\nMatch Centre',
 ' Punjab Cricket Association IS Bindra Stadium, Mohali\nMatch Centre',
 ' Holkar Cricket Stadium, Indore\nMatch Centre',
 ' Saurashtra Cricket Association Stadium, Rajkot\nMatch Centre',
 ' MA Chidambaram Stadium, Chennai\nMatch Centre',
 ' Arun Jaitley Stadium, Delhi\nMatch Centre',
 ' Narendra Modi Stadium, Ahmedabad\nMatch Centre']

In [24]:
TITLE=[]
title_tag=driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"]')
for i in title_tag:
    ttitle=i.text.split("-")[0]
    TITLE.append(ttitle)
    
TITLE

['1st ODI ',
 '2nd ODI ',
 '1st ODI ',
 '2nd ODI ',
 '3rd ODI ',
 '1st ODI ',
 '2nd ODI ',
 '3rd ODI ']

In [25]:
DATE=[]
date_tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tag:
    date=i.text
    DATE.append(date)

DATE

['2 SEP 2023',
 '4 SEP 2023',
 '22 SEP 2023',
 '24 SEP 2023',
 '27 SEP 2023',
 '8 OCT 2023',
 '11 OCT 2023',
 '14 OCT 2023']

In [27]:
TIME=[]
time_tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tag:
    timetag=i.text
    TIME.append(timetag)
    
TIME

['10:00 AM IST',
 '10:00 AM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST']

In [28]:
Fixtures=pd.DataFrame({})
Fixtures['Title']=TITLE
Fixtures['Name']=NAME
Fixtures['Place']=PLACE
Fixtures['Date']=DATE
Fixtures['Time']=TIME

Fixtures

,Title,Name,Place,Date,Time
0,1st ODI,ASIA CUP 2023,"Pallekele International Cricket Stadium, Pall...",2 SEP 2023,10:00 AM IST
1,2nd ODI,ASIA CUP 2023,"Pallekele International Cricket Stadium, Pall...",4 SEP 2023,10:00 AM IST
2,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,...",22 SEP 2023,1:30 PM IST
3,2nd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore\nMatch Centre",24 SEP 2023,1:30 PM IST
4,3rd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajko...",27 SEP 2023,1:30 PM IST
5,1st ODI,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai\nMatch Centre",8 OCT 2023,2:00 PM IST
6,2nd ODI,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi\nMatch Centre",11 OCT 2023,2:00 PM IST
7,3rd ODI,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad\nMatch Centre",14 OCT 2023,2:00 PM IST

Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details: A)
Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [29]:
driver=webdriver.Chrome()
time.sleep(2)

url='http://statisticstimes.com/'
driver.get(url)
time.sleep(2)

In [30]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

In [36]:
economy=driver.find_element(By.XPATH,"//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
time.sleep(2)

In [37]:
indian_states=driver.find_element(By.XPATH,"//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")
try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href'))
time.sleep(2)

In [38]:
rank=[]
try:
    ranks=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
time.sleep(2)

State=[]
try:
    states=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:
    State.append('No details available')
time.sleep(2)

GSDP_20=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_20.append(i.text)
except NoSuchElementException:
    GSDP_20.append('No details available')
time.sleep(2)

GSDP_19=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:
    GSDP_19.append('No details available')
time.sleep(2)

share=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:
    share.append('No details available')
time.sleep(2)

GDP_billion=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('No details available')
time.sleep(2)

In [39]:
df=pd.DataFrame({'Rank':rank,'State':State,'GSDP(19-20)':GSDP_20,'GSDP(18-19)':GSDP_19,'Share(18-19)':share,'GDP(Billion_$):GDP_billion})':GDP_billion})

In [40]:
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$):GDP_billion})
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [42]:
driver=webdriver.Chrome()
driver.maximize_window()
driver.get("https://github.com/trending")
driver.implicitly_wait(5)

In [43]:
title=[]
description=[]
counts=[]
language=[]

github=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in github:
    title.append(i.text)
    
github=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in github:
    description.append(i.text)
    
github=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')
for i in github:
    counts.append(i.text)
    
github=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in github:
    language.append(i.text)

In [44]:
data={'Repository Title':title[:20],'Repository Description':description[:20],"Contributers Count":counts[:20],"Language Used":language[:20]}

df=pd.DataFrame(data)

df

,Repository Title,Repository Description,Contributers Count,Language Used
0,getumbrel / llama-gpt,"A self-hosted, offline, ChatGPT-like chatbot. ...","2,591",TypeScript
1,ill-inc / biomes-game,Biomes is an open source sandbox MMORPG built ...,134,TypeScript
2,roboflow / supervision,We write your reusable computer vision tools. 💜,"1,097",Python
3,elidianaandrade / dio-lab-open-source,Repositório do lab Contribuindo em um Projeto ...,119,TypeScript
4,a16z-infra / ai-town,"A MIT-licensed, deployable starter kit for bui...","2,973",Python
5,qiuyu96 / CoDeF,Official PyTorch implementation of CoDeF: Cont...,195,TypeScript
6,StanGirard / quivr,Your Second Brain powered by Generative AI 🧠 D...,436,PHP
7,byoungd / English-level-up-tips,An advanced guide to learn English which might...,"3,281",Go
8,digininja / DVWA,Damn Vulnerable Web Application (DVWA),"4,118",HTML
9,kubernetes-sigs / external-dns,"Configure external DNS servers (AWS Route53, G...",262,JavaScript
10,opentffoundation / manifesto,The OpenTF Manifesto expresses concern over Ha...,641,Python
11,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,29,Python
12,danswer-ai / danswer,Ask Questions in natural language and get Answ...,"20,262",Go
13,chatchat-space / Langchain-Chatchat,Langchain-Chatchat (formerly langchain-ChatGLM...,"2,155",C++
14,1Panel-dev / 1Panel,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,"28,017",Python
15,google / googletest,GoogleTest - Google Testing and Mocking Framework,"3,394",Shell
16,openai / whisper,Robust Speech Recognition via Large-Scale Weak...,"7,996",Python
17,QiuChenlyOpenSource / InjectLib,基于Ruby编写的命令行注入版本,"2,815",TypeScript
18,kuafuai / DevOpsGPT,Multi agent system for AI-driven software deve...,"6,564",Python
19,yujiangshui / A-Programmers-Guide-to-English,专为程序员编写的英语学习指南 v1.2。在线版本请点 ->,"2,390",Python

Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [36]:
driver=webdriver.Chrome()
time.sleep(3)
url="https:/www.billboard.com/"
driver.get(url)
time.sleep(2)

In [10]:
nav=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
nav.click()
time.sleep(5)

In [37]:
driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button').click()

In [39]:
hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
hot_100.click()

In [43]:
song_name=[]
try:
    names=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append('-')
time.sleep(2)

artist_name=[]
try:
    names=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('-')
time.sleep(2)

last_week_rank=[]
try:
    ranks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"][1]/span')
    for i in ranks:
        last_week_rank.append(i.text)
except NoSuchElementException:
    last_week_rank.append('-')
time.sleep(2)

peak_rank=[]
try:
    ranks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"]/span')
    for i in ranks:
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append('-')
time.sleep(2)

weeks=[]
try:
    week_count=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"]/span')
    for i in week_count:
        weeks.append(i.text)
except NoSuchElementException:
    weeks.append('-')
time.sleep(2)

weeks=[]
try:
    week_count=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"][2]/span')
    for i in week_count:
        weeks.append(i.text)
except NoSuchElementException:
    weeks.append('-')
time.sleep(2)

print(len(song_name),len(artist_name),len(last_week_rank),len(peak_rank),len(weeks))

Songs=pd.DataFrame({"Song Name":song_name,"ARTIST":artist_name,"LAST WEEK RANK":last_week_rank,"PEAK RANK":peak_rank,"WEEK ON BOARD":weeks})

Songs

100 100 100 100 100

,Song Name,ARTIST,LAST WEEK RANK,PEAK RANK,WEEK ON BOARD
0,Last Night\nMorgan Wallen\n1\n1\n28,Last Night\nMorgan Wallen\n1\n1\n28,1,1,28
1,Fast Car\nLuke Combs\n2\n2\n20,Fast Car\nLuke Combs\n2\n2\n20,2,2,20
2,Cruel Summer\nTaylor Swift\n4\n3\n14,Cruel Summer\nTaylor Swift\n4\n3\n14,4,3,14
3,Calm Down\nRema & Selena Gomez\n6\n3\n49,Calm Down\nRema & Selena Gomez\n6\n3\n49,6,3,49
4,Fukumean\nGunna\n7\n4\n8,Fukumean\nGunna\n7\n4\n8,7,4,8
...,...,...,...,...,...
95,Lagunas\nPeso Pluma & Jasiel Nunez\n-\n77\n6,Lagunas\nPeso Pluma & Jasiel Nunez\n-\n77\n6,-,77,6
96,Overdrive\nPost Malone\n68\n47\n3,Overdrive\nPost Malone\n68\n47\n3,68,47,3
97,"Bzrp Music Sessions, Vol. 55\nBizarrap & Peso ...","Bzrp Music Sessions, Vol. 55\nBizarrap & Peso ...",99,31,10
98,Dawns\nZach Bryan Featuring Maggie Rogers\n-\n...,Dawns\nZach Bryan Featuring Maggie Rogers\n-\n...,-,42,15
99,Rubicon\nPeso Pluma\n-\n63\n6,Rubicon\nPeso Pluma\n-\n63\n6,-,63,6

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey
Scrape the details of Highest selling novels. 
compare 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre

In [90]:
driver=webdriver.Chrome()
driver.maximize_window()

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

driver.implicitly_wait(5)

book=[]
author=[]
volumes=[]
publisher=[]
genre=[]

books=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in books[1:500:5]:
    book.append(i.text)
    
books=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in books[1:500:5]:
    author.append(i.text)
    
books=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in books[1:500:5]:
    volumes.append(i.text)
    
    
books=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in books[1:500:5]:
    publisher.append(i.text)
    
books=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in books[1:500:5]:
    genre.append(i.text)
    
data={'Book Name':book,'Author Name':author,'Volume Sold':volumes,'Publisher':publisher,'Genre':genre}

df=pd.DataFrame(data)

df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The"
1,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows
2,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone
3,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix
4,Fifty Shades of Grey,Fifty Shades of Grey,Fifty Shades of Grey,Fifty Shades of Grey,Fifty Shades of Grey
...,...,...,...,...,...
95,"Ghost,The","Ghost,The","Ghost,The","Ghost,The","Ghost,The"
96,Happy Days with the Naked Chef,Happy Days with the Naked Chef,Happy Days with the Naked Chef,Happy Days with the Naked Chef,Happy Days with the Naked Chef
97,"Hunger Games,The:Hunger Games Trilogy","Hunger Games,The:Hunger Games Trilogy","Hunger Games,The:Hunger Games Trilogy","Hunger Games,The:Hunger Games Trilogy","Hunger Games,The:Hunger Games Trilogy"
98,"Lost Boy,The:A Foster Child's Search for the L...","Lost Boy,The:A Foster Child's Search for the L...","Lost Boy,The:A Foster Child's Search for the L...","Lost Boy,The:A Foster Child's Search for the L...","Lost Boy,The:A Foster Child's Search for the L..."
99,Jamie's Ministry of Food:Anyone Can Learn to C...,Jamie's Ministry of Food:Anyone Can Learn to C...,Jamie's Ministry of Food:Anyone Can Learn to C...,Jamie's Ministry of Food:Anyone Can Learn to C...,Jamie's Ministry of Food:Anyone Can Learn to C...

Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You 
have to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [92]:
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls095964455/")

In [93]:
name=[]
yearSpan=[]
genre=[]
runTime=[]
ratings=[]
votes=[]

try:
    nameTag=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    name.extend([i.text for i in nameTag])
except:
    name.append("-")
    
try:
    yearSpantag=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    yearSpan.extend([i.text for i in yearSpantag])
except:
    yearSpan.append("-")
    
try:
    genreTag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    genre.extend([i.text for i in genreTag])
except:
    genre.append("-")
    
try:
    runTimeTag=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    runTime.extend([i.text for i in runTimeTag])
except:
    runTime.append("-")

try:
    ratingsTag=driver.find_elements(By.XPATH,'//span[@class="ipl-rating-star__rating"]')
    ratings.extend([i.text for i in ratingsTag[::23]])
except:
    ratings.append("-")
    
try:
    votesTag=driver.find_elements(By.XPATH,'//span[@name="nv"]')
    votes.extend([i.text for i in votesTag])
except:
    votes.append("-")

In [94]:
df=pd.DataFrame()
df['Name']=name
df['YearSpan']=yearSpan
df['Ratings']=ratings
df['RunTime']=runTime
df['Genre']=genre
df['Votes']=votes

df

,Name,YearSpan,Ratings,RunTime,Genre,Votes
0,Game of Thrones,(2011–2019),9.2,57 min,"Action, Adventure, Drama","2,193,894"
1,Stranger Things,(2016–2024),8.7,51 min,"Drama, Fantasy, Horror","1,267,566"
2,The Walking Dead,(2010–2022),8.1,44 min,"Drama, Horror, Thriller","1,041,348"
3,13 Reasons Why,(2017–2020),7.5,60 min,"Drama, Mystery, Thriller","306,066"
4,The 100,(2014–2020),7.6,43 min,"Drama, Mystery, Sci-Fi","265,139"
...,...,...,...,...,...,...
95,Reign,(2013–2017),7.5,42 min,Drama,"52,458"
96,A Series of Unfortunate Events,(2017–2019),7.8,50 min,"Adventure, Comedy, Drama","64,478"
97,Criminal Minds,(2005– ),8.1,42 min,"Crime, Drama, Mystery","210,165"
98,Scream: The TV Series,(2015–2019),7,45 min,"Comedy, Crime, Drama","43,698"
99,The Haunting of Hill House,(2018),8.6,572 min,"Drama, Horror, Mystery","263,796"

Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
Note: - from the home page you have to go to the Show All Dataset page through code.

In [3]:
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

In [4]:
data_set=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
data_set.click()

In [6]:
name=[]
datatype=[]
task=[]
attributetype=[]
instances=[]
attributenumber=[]
year=[]

In [7]:
github=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in github:
    name.append(i.text)
    
github=driver.find_elements(By.XPATH,'//div[@class="col-span-1 flex w-full flex-col gap-4 p-4"]')
for i in github:
    datatype.append(i.text)
    
github=driver.find_elements(By.XPATH,'//div[@class="col-span-1 flex w-full flex-col gap-4 p-4"]')
for i in github:
    task.append(i.text)
    
github=driver.find_elements(By.XPATH,'//div[@class="col-span-1 flex w-full flex-col gap-4 p-4"]')
for i in github:
    attributetype.append(i.text)
    
github=driver.find_elements(By.XPATH,'//div[@class="col-span-1 flex w-full flex-col gap-4 p-4"]')
for i in github:
    instances.append(i.text)
    
github=driver.find_elements(By.XPATH,'//div[@class="col-span-1 flex w-full flex-col gap-4 p-4"]')
for i in github:
    attributenumber.append(i.text)
    
github=driver.find_elements(By.XPATH,'//div[@class="col-span-1 flex w-full flex-col gap-4 p-4"]')
for i in github:
    year.append(i.text)

In [8]:
data={'Dataset Name':name,'Datatype':datatype,'Task':task,'Attribute':attributetype,'Instance':instances,'Attributeno':attributenumber,'Year':year}

In [9]:
data

{'Dataset Name': ['Iris',
  'Heart Disease',
  'Adult',
  'Dry Bean Dataset',
  'Diabetes',
  'Wine',
  'Breast Cancer Wisconsin (Diagnostic)',
  'Car Evaluation',
  'Rice (Cammeo and Osmancik)',
  'Mushroom'],
 'Datatype': ['Browse Datasets\nFILTERS\nSORT BY\n# VIEWS, DESC\nEXPAND ALL\nIris\nA small classic dataset from Fisher, 1936. One of the earliest datasets used for evaluation of classification methodologies.\nClassification\nMultivariate\n150 Instances\n4 Attributes\nHeart Disease\n4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach\nClassification\nMultivariate\n303 Instances\n13 Attributes\nAdult\nPredict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.\nClassification\nMultivariate\n48.84K Instances\n14 Attributes\nDry Bean Dataset\nImages of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.\nClassification\nMultivariate\n13.61K Instances\n16 Attributes\nDiabetes\nThis diabetes dataset is from AIM \'94\n20 Attributes\nWine\nUsing chemical analysis determine the origin of wines\nClassification\nMultivariate\n178 Instances\n13 Attributes\nBreast Cancer Wisconsin (Diagnostic)\nDiagnostic Wisconsin Breast Cancer Database.\nClassification\nMultivariate\n569 Instances\n30 Attributes\nCar Evaluation\nDerived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.\nClassification\nMultivariate\n1.73K Instances\n6 Attributes\nRice (Cammeo and Osmancik)\nA total of 3810 rice grain\'s images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.\nClassification\nMultivariate\n3.81K Instances\n8 Attributes\nMushroom\nFrom Audobon Society Field Guide; mushrooms described in terms of physical characteristics; classification: poisonous or edible\nClassification\nMultivariate\n8.12K Instances\n22 Attributes\nRows per page\n5\n10\n15\n20\n25\n0 to 10 of 643'],
 'Task': ['Browse Datasets\nFILTERS\nSORT BY\n# VIEWS, DESC\nEXPAND ALL\nIris\nA small classic dataset from Fisher, 1936. One of the earliest datasets used for evaluation of classification methodologies.\nClassification\nMultivariate\n150 Instances\n4 Attributes\nHeart Disease\n4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach\nClassification\nMultivariate\n303 Instances\n13 Attributes\nAdult\nPredict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.\nClassification\nMultivariate\n48.84K Instances\n14 Attributes\nDry Bean Dataset\nImages of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.\nClassification\nMultivariate\n13.61K Instances\n16 Attributes\nDiabetes\nThis diabetes dataset is from AIM \'94\n20 Attributes\nWine\nUsing chemical analysis determine the origin of wines\nClassification\nMultivariate\n178 Instances\n13 Attributes\nBreast Cancer Wisconsin (Diagnostic)\nDiagnostic Wisconsin Breast Cancer Database.\nClassification\nMultivariate\n569 Instances\n30 Attributes\nCar Evaluation\nDerived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.\nClassification\nMultivariate\n1.73K Instances\n6 Attributes\nRice (Cammeo and Osmancik)\nA total of 3810 rice grain\'s images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.\nClassification\nMultivariate\n3.81K Instances\n8 Attributes\nMushroom\nFrom Audobon Society Field Guide; mushrooms described in terms of physical characteristics; classification: poisonous or edible\nClassification\nMultivariate\n8.12K Instances\n22 Attributes\nRows per page\n5\n10\n15\n20\n25\n0 to 10 of 643'],
 'Attribute': ['Browse Datasets\nFILTERS\nSORT BY\n# VIEWS, DESC\nEXPAND ALL\nIris\nA small classic dataset from Fisher, 1936. One of the earliest datasets used for evaluation of classification methodologies.\nClassification\nMultivariate\n150 Instances\n4 Attributes\nHeart Disease\n4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach\nClassification\nMultivariate\n303 Instances\n13 Attributes\nAdult\nPredict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.\nClassification\nMultivariate\n48.84K Instances\n14 Attributes\nDry Bean Dataset\nImages of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.\nClassification\nMultivariate\n13.61K Instances\n16 Attributes\nDiabetes\nThis diabetes dataset is from AIM \'94\n20 Attributes\nWine\nUsing chemical analysis determine the origin of wines\nClassification\nMultivariate\n178 Instances\n13 Attributes\nBreast Cancer Wisconsin (Diagnostic)\nDiagnostic Wisconsin Breast Cancer Database.\nClassification\nMultivariate\n569 Instances\n30 Attributes\nCar Evaluation\nDerived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.\nClassification\nMultivariate\n1.73K Instances\n6 Attributes\nRice (Cammeo and Osmancik)\nA total of 3810 rice grain\'s images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.\nClassification\nMultivariate\n3.81K Instances\n8 Attributes\nMushroom\nFrom Audobon Society Field Guide; mushrooms described in terms of physical characteristics; classification: poisonous or edible\nClassification\nMultivariate\n8.12K Instances\n22 Attributes\nRows per page\n5\n10\n15\n20\n25\n0 to 10 of 643'],
 'Instance': ['Browse Datasets\nFILTERS\nSORT BY\n# VIEWS, DESC\nEXPAND ALL\nIris\nA small classic dataset from Fisher, 1936. One of the earliest datasets used for evaluation of classification methodologies.\nClassification\nMultivariate\n150 Instances\n4 Attributes\nHeart Disease\n4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach\nClassification\nMultivariate\n303 Instances\n13 Attributes\nAdult\nPredict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.\nClassification\nMultivariate\n48.84K Instances\n14 Attributes\nDry Bean Dataset\nImages of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.\nClassification\nMultivariate\n13.61K Instances\n16 Attributes\nDiabetes\nThis diabetes dataset is from AIM \'94\n20 Attributes\nWine\nUsing chemical analysis determine the origin of wines\nClassification\nMultivariate\n178 Instances\n13 Attributes\nBreast Cancer Wisconsin (Diagnostic)\nDiagnostic Wisconsin Breast Cancer Database.\nClassification\nMultivariate\n569 Instances\n30 Attributes\nCar Evaluation\nDerived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.\nClassification\nMultivariate\n1.73K Instances\n6 Attributes\nRice (Cammeo and Osmancik)\nA total of 3810 rice grain\'s images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.\nClassification\nMultivariate\n3.81K Instances\n8 Attributes\nMushroom\nFrom Audobon Society Field Guide; mushrooms described in terms of physical characteristics; classification: poisonous or edible\nClassification\nMultivariate\n8.12K Instances\n22 Attributes\nRows per page\n5\n10\n15\n20\n25\n0 to 10 of 643'],
 'Attributeno': ['Browse Datasets\nFILTERS\nSORT BY\n# VIEWS, DESC\nEXPAND ALL\nIris\nA small classic dataset from Fisher, 1936. One of the earliest datasets used for evaluation of classification methodologies.\nClassification\nMultivariate\n150 Instances\n4 Attributes\nHeart Disease\n4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach\nClassification\nMultivariate\n303 Instances\n13 Attributes\nAdult\nPredict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.\nClassification\nMultivariate\n48.84K Instances\n14 Attributes\nDry Bean Dataset\nImages of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.\nClassification\nMultivariate\n13.61K Instances\n16 Attributes\nDiabetes\nThis diabetes dataset is from AIM \'94\n20 Attributes\nWine\nUsing chemical analysis determine the origin of wines\nClassification\nMultivariate\n178 Instances\n13 Attributes\nBreast Cancer Wisconsin (Diagnostic)\nDiagnostic Wisconsin Breast Cancer Database.\nClassification\nMultivariate\n569 Instances\n30 Attributes\nCar Evaluation\nDerived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.\nClassification\nMultivariate\n1.73K Instances\n6 Attributes\nRice (Cammeo and Osmancik)\nA total of 3810 rice grain\'s images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.\nClassification\nMultivariate\n3.81K Instances\n8 Attributes\nMushroom\nFrom Audobon Society Field Guide; mushrooms described in terms of physical characteristics; classification: poisonous or edible\nClassification\nMultivariate\n8.12K Instances\n22 Attributes\nRows per page\n5\n10\n15\n20\n25\n0 to 10 of 643'],
 'Year': ['Browse Datasets\nFILTERS\nSORT BY\n# VIEWS, DESC\nEXPAND ALL\nIris\nA small classic dataset from Fisher, 1936. One of the earliest datasets used for evaluation of classification methodologies.\nClassification\nMultivariate\n150 Instances\n4 Attributes\nHeart Disease\n4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach\nClassification\nMultivariate\n303 Instances\n13 Attributes\nAdult\nPredict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.\nClassification\nMultivariate\n48.84K Instances\n14 Attributes\nDry Bean Dataset\nImages of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.\nClassification\nMultivariate\n13.61K Instances\n16 Attributes\nDiabetes\nThis diabetes dataset is from AIM \'94\n20 Attributes\nWine\nUsing chemical analysis determine the origin of wines\nClassification\nMultivariate\n178 Instances\n13 Attributes\nBreast Cancer Wisconsin (Diagnostic)\nDiagnostic Wisconsin Breast Cancer Database.\nClassification\nMultivariate\n569 Instances\n30 Attributes\nCar Evaluation\nDerived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.\nClassification\nMultivariate\n1.73K Instances\n6 Attributes\nRice (Cammeo and Osmancik)\nA total of 3810 rice grain\'s images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.\nClassification\nMultivariate\n3.81K Instances\n8 Attributes\nMushroom\nFrom Audobon Society Field Guide; mushrooms described in terms of physical characteristics; classification: poisonous or edible\nClassification\nMultivariate\n8.12K Instances\n22 Attributes\nRows per page\n5\n10\n15\n20\n25\n0 to 10 of 643']}